<ion-header>
  <ion-navbar>
    <ion-title>Reconocimiento de texto</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <button class="select-image" ion-button block *ngIf="!srcImage" (click)="presentActionSheet()" color="light">
    <ion-icon name="camera"></ion-icon>
  </button>

  <div *ngIf="srcImage" class="image-wrapper">
    <img id="image" [src]="srcImage" />
    <div id="data">{{data}}</div>
    <button ion-button icon-left block (click)="recognizeText()" color="light">
      <ion-icon name="send"></ion-icon>
      Procesar
    </button>
    <button ion-button icon-left block (click)="send()" color="light">
      <ion-icon name="send"></ion-icon>
      Enviar
    </button>
    <button ion-button icon-left block (click)="restart()" color="light">
      <ion-icon name="refresh"></ion-icon>
      Reiniciar
    </button>
  </div>

</ion-content>
